<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luke.fyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- TODO: add parent activity hierarchy to actvities -->
        <activity android:name=".activities.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activities.SearchResultsActivity" />
        <activity android:name=".activities.WeightActivity" />
        <activity
            android:name=".activities.DailyViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:clearTaskOnLaunch="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.MealBuilderActivity"
            android:label="@string/title_activity_meal_builder"
            android:parentActivityName=".activities.DailyViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:finishOnTaskLaunch="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.luke.fyp.activities.DailyViewActivity" />
        </activity>
    </application>

</manifest>